* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(7, 7, 32);
}

main {
    background-color: mintcream;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}

h1 {
    font-size: 20px;
    color: rgb(49, 16, 80);
}

h2 {
    color: rgb(49, 16, 80);
}

img.lado{
    float:right;
    height: 100px;
    width: 100px;
}